.responsiveTable {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  margin-top: 20px;
}
.responsiveTable thead {
  display: none;
  background: transparent;
  border: none;
}

.responsiveTable thead > tr {
  color: #5f5d5d;
  font-weight: 700;
  font-size: 15px;
}

.responsiveTable tbody > tr {
  border-bottom: 1px solid rgba(209, 209, 209, 0.5);
}

@media screen and (min-width: 600px) {
  .responsiveTable thead {
    display: table-header-group;
  }
}
.responsiveTable tr {
  border: none;
  padding: 5px;
  margin-bottom: 10px;
  display: block;
}
@media screen and (min-width: 600px) {
  .responsiveTable tr {
    display: table-row;
    margin-bottom: 0;
    border: none;
  }
  .responsiveTable tr:nth-child(even) {
    background: transparent;
  }
}
.responsiveTable th,
.responsiveTable td {
  padding: 10px;
  text-align: left;
}
.responsiveTable th {
  text-transform: uppercase;
  font-size: 11px;
}
.responsiveTable td {
  display: block;
  /* text-align: right; */
  font-size: 13px;
  border: none;
}
.responsiveTable td:last-child {
  border: none;
}
@media screen and (min-width: 600px) {
  .responsiveTable td {
    display: table-cell;
    text-align: left;
    border: none;
  }
}
.responsiveTable td:before {
  content: attr(data-label);
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  .responsiveTable td:before {
    content: '';
    display: none;
  }
}
