.modal {
  position: absolute;
  top: 64px;
  left: 10px;
  background-color: transparent;
  width: calc(100vw - 20px); /* viewport width - left and right margins*/
  height: calc(100vh - 128px); /* viewport height - top and bottom margins */
}

@media (min-width: 768px) {
  .modal {
    left: 80px;
    width: calc(100vw - 160px); /* viewport width - left and right margins*/
  }
}

.overlay {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;

  width: 100vw; /* viewport width */
  height: 100vh; /* viewport height */
  overflow-y: scroll;
  overflow-x: hidden;

  background-color: rgba($color: rgb(37, 37, 37), $alpha: 0.9);
}
