.needContent {
  &--header {
    .needOwnerAction {
      color: lightgrey;

      svg:hover {
        color: grey;
        cursor: pointer;
      }
    }
  }

  &--main {
    .infoHtml {
      padding: 25px 0 15px;
    }
    .needFeed {
      .feed {
        padding: 0;
      }
      h6 {
        padding-top: 20px;
      }
    }
  }
}
