.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    outline: none;
    // border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    outline: 0;
    max-height: 95vh;
    // overflow: hidden;
    box-shadow: 0px 4px 64px rgb(0 0 0 / 30%);
}

.overlay {
    position: fixed;
    z-index: 120;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
}
