.contributionContainer {
  /* gap: 10px; */
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modalPadding > div:last-child > div {
  padding: 1rem;
}

.contributionContainer > div[class*='contributor-title'] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  align-self: flex-start;
  width: 100%;
}

.contributionContainer > div[class^='row-contributor-title'] {
  flex-direction: row;
  justify-content: space-between;
}

.contributionContainer > div[class^='row-contributor-title'] > button {
  padding: 1px 11px;
  font-size: 13px;
}

.contributionContainer > div[class*='contributor-title'] > button {
  align-self: center;
}

.contributionContainer > div[class*='contributor-title'] > button > svg {
  /* margin-bottom: 6px; */
}

.contributionContainer span[class='see-more'] {
  cursor: pointer;
  align-self: flex-end;
  text-decoration: underline;
  font-size: 13px;
}

.popupModalPadding {
  max-width: fit-content;
  width: fit-content !important;
  max-height: 94vh;
  overflow: scroll;
}

.popupModalPadding > div {
  max-height: fit-content !important;
}

.popupModalPadding > div:last-child > div {
  padding: 0px;
}
