@import 'pages/custom.scss';

.userHeader {
  background: white;

  &--top {
    .userImg {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-color: white;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }

    .userInfos {
      .infoContainer {
        display: flex;

        .userSmallImg {
          div {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            background-color: white;
            &:hover {
              opacity: 0.8;
              cursor: pointer;
            }

            @media (max-width: 400px) {
              width: 70px;
              height: 70px;
            }
          }
        }

        .firstRow {
          // display: -webkit-inline-box;
          display: inherit;

          @media (max-width: 767px) {
            display: block;
            width: 100%;
          }

          .title {
            color: #343a40;
            font-size: 26px;
            font-weight: 500;
            margin-right: 50px;
            margin-bottom: 0;

            @media (max-width: 767px) {
              margin-right: 0;
            }

            @media (max-width: 400px) {
              word-break: break-all;
            }
          }

          .nickname {
            color: #7f8fa4;
            font-size: 14px;
            margin: 7px 0 0;

            @media (max-width: 767px) {
              margin: 7px 0 15px;
            }
          }
        }
      }

      .userStats {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 15px;

        .text {
          margin-right: 20px;
          color: #7f8fa4;
          font-size: 15px;
          border-bottom: 1px solid transparent;

          &:hover {
            cursor: pointer;
            text-decoration: none;
            opacity: 0.9;
            border-bottom: 1px solid grey;
          }

          strong {
            font-size: 18px;
            font-weight: 600;
            color: #3a3a3a;
          }
        }

        .btnFollow span {
          color: white !important;
          margin-right: 0 !important;
        }

        > button {
          margin-right: 20px;
          margin-bottom: 10px;
        }
      }

      .about {
        margin: 10px 0 20px;
        font-size: 16px;
        font-weight: 500;
        word-break: break-word;
      }
    }

    .userActions {
      display: flex;

      @media (min-width: 992px) {
        margin-top: 10px;
      }

      svg {
        font-size: 19px;
      }

      > * {
        // margin-left: 15px;
        color: $gray-dark;
        height: fit-content;
        width: fit-content;

        @media (max-width: 767px) {
          margin-left: 0px;
          margin-right: 15px;
        }
      }
    }
  }

  .modal .needCard {
    margin: 10px 3px;
  }
}
