.workspacesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tabContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rowContainer > div[class*='row-gap-15'] {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}

.tabContainer > div[class='loader'] {
  width: 100%;
  margin-top: 10px;
}

.tabContainer > div[class='update-btn'] {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.rowContainer > div[class*='row-gap-15'] > button[class^='white-btn'] {
  background: white;
  color: black;
  font-weight: 400;
}

.rowContainer > div[class*='justify-content-end'] {
  justify-content: flex-end;
}

.userCardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.userCardContainer > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.userCardContainer > div {
  display: flex;
  flex-direction: column;
}

.userCardContainer > div > p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #4f46e5;
  margin: 0px;
}

.userCardContainer > div > div {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.userCardContainer > div > div > span > u {
  cursor: pointer;
}

.selectedField {
  min-width: 80px;
}

.selectedField div[aria-hidden='true'] {
  padding: 0px;
}
