.upload-btn-wrapper {
  position: absolute;
  overflow: hidden;
  z-index: 0;
  display: flex;
  height: 2.125rem;
  width: 2.125rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #6b7280;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
  &:hover {
    opacity: 0.9;
  }
  &:focus-within {
    box-shadow: 0 0 0 2px #2987cd;
  }

  input[type='file'] {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
  }
  input[type='file']::-webkit-file-upload-button {
    cursor: pointer;
  }
  input:disabled {
    cursor: default;
  }
}

#imageRemoved {
  display: none;
}
