.commentCreate {
  border-radius: 10px !important;
  box-shadow: none !important;
  padding: 10px 0 8px;
  .inputBox {
    border-bottom: none !important;
    padding: 0px !important;

    @media (max-width: 500px) {
      padding: 20px 15px 15px;
    }
    .userImgContainer {
      width: 40px !important;
      height: 40px !important;
    }
    .userImg {
      width: 40px !important;
      height: 40px !important;
    }
  }

  .commentBtn {
    background-color: white !important;
    border: none;
    border-color: white !important;
    cursor: pointer;
  }

  .suggestionsContainer__highlighter {
    min-height: 33px !important;
  }
}

.commentUpdate {
  // min-width: 500px;
  .inputBox {
    border-bottom: none;
  }

  .commentBtn {
    background-color: #f2f3f4 !important;
    border: none;
    border-color: #f2f3f4 !important;
    cursor: pointer;
  }
}
