@import 'pages/custom.scss';
.commentDisplay > .actionBox > .commentList {
  .showMore {
    color: $primary !important;
    cursor: pointer;
    height: fit-content;
    position: relative;
    top: 5px;
    left: 5px;
    &:hover {
      color: darken($primary, 15) !important;
    }
  }
  & > .comment {
    box-shadow: none;
    margin: 0px;
    &.highlight .comment-content {
      border: 2px solid #9898f1 !important;
    }
    & > .topContent {
      display: flex;
      margin-top: 15px;
      border-bottom: none !important;
      .comment-actions {
        padding-left: 55px;
        .comment-date {
          font-size: 11.3px;
          font-weight: bold;
          color: lighten($gray-dark, 30);
        }
      }
      .topBar {
        margin-bottom: 0px;
        width: 100%;
        .left {
          width: 100%;
          .userImgContainer {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            @media (max-width: 480px) {
              margin-right: 5px;
            }
          }
          .userImg {
            width: 40px;
            height: 40px;
          }
          .comment-content {
            width: 100%;
            overflow: auto;
            border: 0px;
            border-radius: 10px;
            background: #f2f3f4;
            padding: 5px 10px 5px 10px !important;
            .comment-manage {
              cursor: pointer;
            }
            .from,
            .from a {
              font-size: 11.3px;
              font-weight: bold;
              color: lighten($gray-dark, 30);
            }

            .commentTextContainer {
              position: relative;
              .text.extra {
                margin-bottom: 0px;
                margin-top: 5px;
                font-weight: 400;
                font-size: 15px;
                white-space: pre-wrap;
                line-height: 24px;
                word-break: break-word;
                a[href^='/user'],
                a[href^='/workspace'] {
                  // style for mentions
                  color: $primary;
                  background: #cdcde5;
                  border-radius: 1000000000px;
                  font-size: 15px;
                  padding: 2px 6px;
                  font-weight: 600;
                  span {
                    display: none;
                  }
                }
              }
              .viewMore {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-bottom: 0;
                padding-left: 8px;
                color: darken($lightgray, 30);
                background: #f2f3f4;
                font-size: 15px;
                cursor: pointer;
                text-transform: lowercase;
                &:hover {
                  color: $primary !important;
                  text-decoration: underline;
                }
              }
              &.hideText {
                max-height: 6rem;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
    &.hidden {
      display: none;
    }
  }
}
