.formImg {
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 10px;
  width: 100%;

  .banner {
    border: 1px solid #ced4da;
    @media (min-width: 480px) {
      width: 100%;
    }
  }

  .avatar img,
  .logo img {
    border: 2px solid #ced4da !important;
    border-radius: 50%;
    // box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
    height: 100px !important;
    width: 100px !important;
    object-fit: contain;
    margin: unset !important;

    &.is-invalid {
      border: 2px solid rgb(220 53 69) !important;
    }
  }

  .btnUpload {
    min-width: 80%;
  }

  .btnUploadZone {
    // padding-top: 11px;
    // padding: 0 20px;
  }
}
