@import 'pages/custom.scss';

.projectDetails,
.challengeDetails,
.communityDetails,
.programDetails {
  @media (max-width: 768px) {
    padding: 0 !important;
  }
}

.projectEdit {
  .collapseDetailedInfo {
    margin-bottom: 30px;
    margin-top: -5px;
  }
}

.projectHeader,
.communityHeader {
  &--info {
    .info {
      color: $gray-dark;

      a {
        color: inherit;
        margin-left: 8px;

        &:hover {
          text-decoration: underline;
        }
      }

      strong {
        font-weight: bold;
      }

      span.status {
        color: $primary;
        margin-left: 8px;
      }
    }

    .infos span {
      padding-left: 10px;
      color: #bbbbbb;
    }

    .infoDefault {
      margin: 20px 0 !important;

      .skill {
        margin-right: 10px;
      }
    }

    .infoInterests {
      padding-bottom: 0 !important;
    }
  }
}

.projectHeader .infoDefault {
  margin: 0 !important;
}

.projectsHeader,
.communitiesHeader {
  margin-top: 105px;

  h1 {
    color: #343a40;
    font-size: 26px;
    line-height: 36px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  .dropdown {
    button {
      background: white;
      color: $gray-dark;
    }
  }

  hr {
    margin: 30px 0 30px;
    border-top: 1px solid $lightgray;
  }
}

.ql-mentionUser {
  margin-top: -3px;
  font-size: 19px;
  &:after {
    content: '@';
  }
}

.ql-editor {
  // improve style of indented lists
  ul li,
  ol li {
    &.ql-indent-1 {
      padding-left: 3rem !important;
    }
    &.ql-indent-2 {
      padding-left: 4.5rem !important;
    }
    &.ql-indent-3 {
      padding-left: 6rem !important;
    }
    &.ql-indent-4 {
      padding-left: 7.5rem !important;
    }
    &.ql-indent-5 {
      padding-left: 9rem !important;
    }
    &.ql-indent-6 {
      padding-left: 10.5rem !important;
    }
  }
  // alternate icons for elements in a ul list
  ul li {
    &.ql-indent-1::before {
      content: '\25E6';
    }
    &.ql-indent-2::before {
      content: '\25AA';
    }
    &.ql-indent-4::before {
      content: '\25E6';
    }
    &.ql-indent-5::before {
      content: '\25AA';
    }
    &::before {
      width: 1rem;
      font-size: 21px;
      margin-top: -7px;
    }
  }
}

.ql-container,
.ql-editor {
  font-size: 16px;
  white-space: pre-wrap !important;
  .ql-align-justify {
    padding-right: 5px;
    white-space: pre-wrap !important;
  }

  .ql-mention-list-container {
    max-height: 200px;
    min-width: 270px;
    white-space: nowrap !important;
    overflow-y: auto;
    top: unset !important;
  }

  .ql-mention-list-item {
    height: auto;
    line-height: 30px;
    padding: 2px 9px;
  }

  .cql-list-item-inner {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    span {
      font-size: 14px;
      color: $gray-dark;
      margin-top: -10px;
      display: block;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 5px;
    }
  }

  .mention {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .ql-mention-denotation-char {
      display: none;
    }
  }
}

.ql-editor:not(.rendered-quill-content) {
  min-height: 200px;
  max-height: 500px;
}

.projectForm,
.communityForm {
  .publicPrivateToggleMsg {
    margin-top: 25px;
  }
}

.projectFormBtns,
.programFormBtns,
.communityFormBtns,
.challengeFormBtns {
  margin-top: 40px;
  padding: 20px 0;
  display: flex;
  justify-content: center;

  button {
    margin: 0 10px;
  }
}

.userProfileEdit,
.projectEdit,
.communityEdit,
.challengeEdit,
.projectCreate,
.communityCreate,
.challengeCreate,
.programCreate,
.programEdit,
.cfpEdit {
  margin-top: 110px !important;
  width: 75% !important;
  margin: auto;

  @media (max-width: 981px) {
    width: 100% !important;

    h1 {
      font-size: 29px;
    }
  }
}

// style for edition only (not creation)
.userProfileCreate,
.projectCreate,
.communityCreate,
.challengeCreate {
  h1 {
    margin-bottom: 30px;
  }
}

.formSkills,
.formResources,
.formDefault,
.formTextArea,
textarea {
  input::placeholder,
  textarea::placeholder {
    color: #bbbbbb !important;
  }
}
input[type='date'].isEmpty {
  color: #bbbbbb;
}

.projectsSearch,
.challengeSearch,
.communitySearch {
  button {
    margin: 0 0 7px !important;
  }
}
