.customSearch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.customSearch .container-options {
    border-bottom: 1px solid #ebecf3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin: 0 0 30px !important;
    padding: 0;
    width: 100%;
}

.customSearch .container-header {
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 80px;
}

.customSearch .container-header .ais-SearchBox {
    margin-right: 40px;
    flex: 1;
}

.customSearch .ais-Breadcrumb,
.customSearch .ais-ClearRefinements,
.customSearch .ais-CurrentRefinements,
.customSearch .ais-ClearRefinements-button,
.customSearch .ais-GeoSearch,
.customSearch .ais-HierarchicalMenu,
.customSearch .ais-Hits,
.customSearch .ais-Results,
.customSearch .ais-HitsPerPage,
.customSearch .ais-ResultsPerPage,
.customSearch .ais-InfiniteHits,
.customSearch .ais-InfiniteResults,
.customSearch .ais-Menu,
.customSearch .ais-MenuSelect,
.customSearch .ais-NumericMenu,
.customSearch .ais-NumericSelector,
.customSearch .ais-Pagination,
.customSearch .ais-Panel,
.customSearch .ais-PoweredBy,
.customSearch .ais-RangeInput,
.customSearch .ais-RangeSlider,
.customSearch .ais-RatingMenu,
.customSearch .ais-RefinementList,
.customSearch .ais-SearchBox,
.customSearch .ais-SortBy,
.customSearch .ais-SortBy-select,
.customSearch .ais-HitsPerPage-select,
.customSearch .ais-Stats,
.customSearch .ais-ToggleRefinement {
    color: #21243d;
    font-size: 0.75rem;
}
.customSearch [class^="ais-"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0.9rem;
}

.customSearch .ais-SearchBox-form {
    position: relative;
}

.searchPageAll .container-header .ais-SearchBox-input {
    min-height: 50px;
}
.customSearch .ais-SearchBox-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgba(65, 66, 71, 0.06);
    border: none;
    border-radius: 3px;
    color: rgba(33, 36, 61, 0.8);
    font-family: inherit;
    min-height: 54px;
    padding-left: 56px;
    width: 100%;
    font-size: 18px;
}

.customSearch .ais-SearchBox-submit {
    color: #2987cd;
}

.customSearch .ais-SearchBox-submit {
    left: 0;
}

.customSearch .ais-SearchBox-reset[hidden],
.customSearch .ais-SearchBox-loadingIndicator[hidden] {
    display: none;
}

.customSearch .ais-SearchBox-reset,
.customSearch .ais-SearchBox-loadingIndicator {
    right: 0;
}

.customSearch .ais-SearchBox-reset,
.customSearch .ais-SearchBox-loadingIndicator,
.customSearch .ais-SearchBox-submit {
    -webkit-align-items: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 48px;
}
.customSearch .ais-SearchBox-reset,
.customSearch .ais-SearchBox-loadingIndicator,
.customSearch .ais-SearchBox-submit,
.customSearch .ais-ClearRefinements-button {
    background: transparent;
    border: none;
}

.container-header .ais-SearchBox-submit svg {
    width: 18px !important;
    height: 18px !important;
}

.customSearch .container-option {
    cursor: pointer;
}

.customSearch .ais-SortBy,
.customSearch .ais-HitsPerPage {
    display: block;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E),
        -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5e5e5));
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
}

.customSearch .ais-SortBy select,
.customSearch .ais-HitsPerPage select {
    padding: 10px 23px 10px 10px;
    min-width: 130px;
    cursor: pointer;
    font-size: 15.5px;
}

.customSearch .ais-SortBy-select,
.customSearch .ais-HitsPerPage-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: #21243d;
    font-family: inherit;
    width: 100%;
}


@media (max-width: 981px) {
    .customSearch .container-header .ais-SearchBox {
        margin-right: 15px;
    }
}

@media (max-width: 899px) {
    .customSearch .container-header {
        min-height: 65px;
    }
    .customSearch .ais-SearchBox .ais-SearchBox-input,
    .customSearch .ais-RefinementList .ais-SearchBox-input {
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    .customSearch .container-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .customSearch .ais-SearchBox {
        margin-bottom: 8px;
    }
}