.frameParent {
  --security-color: rgba(147, 144, 144, 0.9);
  --transparent-security-color: rgba(209, 209, 209, 1);
  --selected-security-color: rgba(209, 209, 209, 0.8);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
}

.contentGroupContainer {
  margin: 15px 0px;
}

.contentGroupContainer > h3,
.frameParent h3 {
  font-weight: 900;
  font-size: 25px;
}

.contentGroupContainer > p,
.frameParent p {
  font-size: 14px;
}

.radioSelectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
}

.radioSelectUI {
  border: 1px solid var(--selected-security-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 220px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  color: var(--security-color);
}

.radioSelectUI > input {
  position: absolute;
  top: 5px;
  left: 5px;
}

.radioSelectUI > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 17px;
  justify-content: space-around;
  align-items: center;
  padding: 5px 5px;
}

.radioSelectUI > input[type='radio'] {
  color: transparent;
  background-color: transparent;
}

.radioSelectUI > input[type='radio']:checked {
  background-color: var(--security-color);
}

.radioSelectUI > div > svg {
  font-weight: bold;
}

.radioSelectUI > div > p[class='header'] {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0px;
  text-align: center;
}

.radioSelectUI > div > p[class='info'] {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
}

.selected {
  color: black;
  border: none;
  /* background-color: rgb(247 247 249 / var(--tw-bg-opacity)); */
  background: #e4e4e4;
}

.notNeeded {
  color: var(--transparent-security-color);
}

.notNeeded:hover > span[class='tooltip'] {
  display: block;
}

.radioSelectUI > span[class='tooltip'] {
  display: none;
  position: absolute;
  top: -30px;
  font-size: 12px;
  background: #5f5d5d;
  color: #ffffff;
  font-weight: 500;
  padding: 4px 5px;
  border-radius: 2px;
  word-break: keep-all;
  width: 200%;
}

@media screen and (max-width: 780px) {
  .radioSelectUI {
    max-width: 180px;
    height: 230px;
  }
  .radioSelectUI > div > p[class='header'] {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .radioSelectContainer {
    justify-content: center;
  }
}
